.categories-container {
    
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .categories-container .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }
  .categories-container .container .title-container {
    width: 100%;
    text-align: center;
    font-size: 90%;
  }
  .categories-container .container .title-container h2 {
    color: var(--dark-blue);
    font-size: 28px;
  }
  .categories-container .container .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1rem;
    
  }
  .categories-container .container .categories .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.7rem;
    background-color: var(--card-color2);
    box-shadow: var(--fixed-shadow);
    transition: var(--transition);
    background-color: #bbe4e9;
  }
  .categories-container .container .categories .category:hover {
    box-shadow: var(--elevate-shadow);
  }
  .categories-container .container .categories .category h4 {
    text-decoration: none;
    color: var(--dark-blue);
  }
  .categories-container .container .categories .category p {
    text-decoration: none;
    color: var(--light-blue);
  }
  .categories-container .container button {
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    background-color: var(--background);
    color: var(--blue);
    border: 0.1rem solid var(--blue);
    font-weight: bolder;
    transition: var(--transition);
  }
  .categories-container .container button:hover {
    background-color: var(--dark-blue);
    color: var(--background);
    border-color: var(--background);
    
  }
  .cimg{
    height: 50px;
    width: 50px;
  }
  @media only screen and (min-device-width: 768px) {
    .categories-container .container .categories {
      grid-template-columns: repeat(3, 1fr);
   }
  }
  
  